<mat-card>
  <mat-card-title style="display: flex; align-items: center"
    ><mat-icon>home</mat-icon> Actions Buttons</mat-card-title
  >
  <mat-card-content> </mat-card-content>
  <div
    style="
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 15px;
    "
  >
    <button
      mat-raised-button
      color="accent"
      (click)="snackBar.openSnackBar('Started from the first button', 'Close')"
    >
      Start First Action
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="snackBar.openSnackBar('Started from the second button', 'Close')"
    >
      Start Second Action
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="snackBar.openSnackBar('Started from the third button', 'Close')"
    >
      Start Third Action
    </button>
  </div>
</mat-card>
<app-snack-bar #snackBar></app-snack-bar>
